{%extends 'base.html'%}

{%block content%}
<div class="col-md-6 offset-md-3">
    <h1></h1>
    <div class="card border-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Details</div>
      <div class="card-body">
        <h5 class="card-title">{{individual.first_name}} {{individual.last_name}}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>ID: </strong>{{individual.id}}</li>
          <li class="list-group-item"><strong>Email: </strong>{{individual.email}}</li>
          <li class="list-group-item"><strong>Job Title: </strong>{{individual.job_title}}</li>
          <li class="list-group-item"><strong>Department: </strong>{{individual.department}}</li>
          <li class="list-group-item"><strong>Date Joined: </strong>{{individual.date_joined}}</li>
          <li class="list-group-item"><strong>Salary: </strong>{{individual.salary}}</li>
          <li class="list-group-item"><strong>Contract: </strong>{{individual.contract}}</li>
        </ul>
        <a href="{%url 'home'%}" class="btn btn-primary">Back</a>
        <a href="{%url 'delete' individual.id%}" class="btn btn-danger">Delete</a>
        <a href="{%url 'update' individual.id%}" class="btn btn-primary">Update</a>
      </div>
    </div>
</div>

{%endblock%}